/* PORTADA ACTUAL */
.container-portada-actual {
    width: auto;
    height: 520px;
    background-color: #e5e2e2;
    padding-top: 18px;
    margin-top: 30px;
    margin-left: 30px;
    text-align: center;

    .portada-title {
        margin-left: 31px;
        margin-bottom: 20px;
        float: left;
    }

    .imagen-portada {
        width: 545px;
        height: 310px;
        border: 3px solid #9b9494;
    }
}

/* CAMBIAR LA PORTADA */
.container-cambiar-portada {
    margin-top: 50px;
    font-size: 14px;
    padding-left: 35px;
    
    .choose-text {
        margin-top: 20px;
        margin-bottom: 20px;
        padding-top: 20px;
        border-top: 2px solid #CCC;
        text-wrap: nowrap;
    }

    /* Buscador de portadas */
    .search-input {
        margin-bottom: 17px;
        padding-bottom: 27px;
        border-bottom: 2px solid #CCC;
    }

    /* Lista de las portadas */
    .container-portadas {
        margin-right: 20px;
    }

    .container-portada {
        display: inline-grid;
        grid-template-columns: 215px 0px 20px;

        .portada-item {
            width: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

    .sin-resultados {
        font-size: 15px;
        font-weight: bold;
    }
}
