body {
    margin: 0px;
    padding: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana;
    -webkit-font-smoothing: antialised;
    -moz-font-smoothing: antialised;
    -moz-osx-font-smoothing: antialised;
}

.toolbar {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #B4A252;
    color: white;
    font-weight: 600;

    .spacer {
        flex: 1;
    }    
} 

.toolbar img {
    margin: 0 16px;
}

.content {
    display: flex;
}

.clearfix {
    clear: both;
    float: none;
}

/* Botones */
.btn {
    background-color: #B4A252;
    color: white;
    font-size: 14px;
    padding: 14px 50px;

    &:hover {
        background-color: #8F7C28;
        color: white;
        text-decoration: none;
    }
}

.btn-guardar-cambios {
    margin-top: 75px;
}

.btn-subir-portada, .btn-buscar-portada {
    display: flex;
    align-items: center;
    gap: 23px;
}

.btn-buscar-portada {
    padding: 14px 50px;
}

.btn-subir-portada {
    padding-left: 15px;
}

/* Input del buscador */
input[type="text"], input[type="file"], textarea {
    width: 44%;
    border: 2px solid #CCC;
}